<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://code.angularjs.org/1.2.0-rc.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-controller="PhoneListCtrl">
    <div class="container-fluid">
      <div class="col-md-2">
        <!-- Siderbar content -->
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </div>
      <div class="col-md-10">
        <!-- Body content -->
        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
            <a href="#/phones/{{phone.id}}" class="thumb"><img src="{{phone.imageUrl}}" alt="phone.name"></a>
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
              <p>{{phone.snippet}}</p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
